<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>7</daysToKeep>
    <numToKeep>30</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/ticketapp/master.git</url>
        <credentialsId>a326e903-766d-4868-82cc-d83574947ec8</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jvnet.hudson.plugins.SbtPluginBuilder plugin="sbt@1.5">
      <name>sbt</name>
      <jvmFlags></jvmFlags>
      <sbtFlags>-Dsbt.log.noformat=true</sbtFlags>
      <actions>test dist</actions>
      <subdirPath></subdirPath>
    </org.jvnet.hudson.plugins.SbtPluginBuilder>
    <hudson.tasks.Shell>
      <command>sshpass -p 9g2Myjdt scp -o StrictHostKeyChecking=no target/universal/claude-0.001.zip root@51.254.122.113:/root/claude.zip

sshpass -p &quot;9g2Myjdt&quot; ssh -o StrictHostKeyChecking=no -t -t root@51.254.122.113 &apos;unzip -o claude.zip;&apos;

sshpass -p &quot;9g2Myjdt&quot; ssh -o StrictHostKeyChecking=no -t -t root@51.254.122.113 &apos;service supervisor restart; sleep 2&apos;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <jenkins.plugins.hipchat.HipChatNotifier plugin="hipchat@0.2.0">
      <token>ewxjHoZSlRKk9YpTBwbZQzZkWjghKeC50IeNrbvm</token>
      <room>1512094</room>
      <startNotification>true</startNotification>
      <notifySuccess>true</notifySuccess>
      <notifyAborted>true</notifyAborted>
      <notifyNotBuilt>true</notifyNotBuilt>
      <notifyUnstable>true</notifyUnstable>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>true</notifyBackToNormal>
      <startJobMessage></startJobMessage>
      <completeJobMessage></completeJobMessage>
    </jenkins.plugins.hipchat.HipChatNotifier>
  </publishers>
  <buildWrappers/>
</project>